services:
  frontend:
    build:
      context: .
    volumes:
      - .:/usr/src/app
    image: vaii-frontend
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build:
      context: ./server
    command: ["npm", "run", "dev"]
    volumes:
      - ./server:/app
      - /app/node_modules
    image: vaii-backend
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
