services:
  frontend:
    build:
      context: .
    image: vaii-frontend
    volumes:
      - .:/usr/src/app:delegated
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build:
      context: ./server
    image: vaii-backend
    command: ["npm", "run", "dev"]
    volumes:
      - ./server:/app:delegated
      - /app/node_modules
    working_dir: /app
    env_file:
      - ./server/.env
    ports:
      - "5001:5001"
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres-db
    env_file:
      - ./server/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
