@import "tailwindcss";
.navbar-text {
  text-decoration: none;
  color: gray;
}

.navbar-text:hover {
  color: #78e778;
}

.navbar-text-form {
  color: white;
}

.navbar-text-form:hover {
  color: white;
}
